@use 'styling/globals' as *;

.table-container > *, table, thead, tbody,  tr, th {
    background-color: $cardBackgroundColor;
}

table{
  table-layout: fixed;
  width: 100%;
}

th {
    outline: $cardBorderColor;
    font-size: $cardTableHeader;
    padding: .5rem .19rem
}

tr.dspl-row {
    outline: $cardBorderColor;
}



