@use "styling/globals" as *;

.header-container {
  height: 6em;
  width: 100vp;
  display: flex;
  align-items: center;
  background-color: $headerBackground;
}

.header-container,
.dsp-chip-container,
.dspl-banner-container,
h1,
img {
  background-color: $headerBackground;
}

img {
  height: 100%;
}

.dsp-chip-container,
.dspl-banner-container {
  height: 100%;
  display: flex;
  align-items: center;
}

// @media (max-width: 600px) {
//     .header-container {
//         width: 100%;
//         height: 3em;
//     }

// }
