@use "styling/globals" as *;

form, select, option, button, a, h1, h3, table, thead, tbody, tr, td, header.card-header, .card{
      background-color: $cardBackgroundColor;
}

.card {
  margin: $cardMargin;
  border: $cardBorderColor;
}

.table-container {
  margin: $cardMargin;
}

h3 {
  text-align: center;
  margin: $cardMargin;
  font-size: $cardHeaderFontSize;
}
