@use "styling/globals" as *;

.header-nav-container {
  background-color: $navigationBar;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: $headerNavTextSize;
  border-radius: $borderRadius;
}
.header-nav-container > * {
  background-color: $navigationBar;
  color: $navigationText;
  text-decoration: none;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
}

.header-nav-container > *:hover {
  background-color: $linkHoverBackgroundColor;
  border-radius: $borderRadius;
  color: $linkHoverTextColor;
  text-decoration: underline;
}
