// Typography 

$mainTextSize: 1rem;
$headerNavTextSize: 1.5rem;
$headerTextSize: 3rem;
$mainTitleSize: 3rem;
$smallTextSize: .75rem;

// Cards
$cardHeaderFontSize: 1.5rem;
$cardTableHeader: 1.15rem;

// forms
$labelSize: 2rem;

// Buttons
$buttonWidth: 50%;
$buttonHeight: 2.5rem;

// Spacing
$padding: 0.5em;