<form [formGroup]="formGroup">
  @for (form of config(); track form.id) {
    @if (form.type === "select") {
      <select [formControlName]="form.id" [required]="form.required!" [name]="form.id" [id]="form.id">
        <option [ngValue]="null" disabled>
          {{ form.placeholder ?? "Select..." }}
        </option>
        @for (option of form.options; track $index) {
          <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
    }
    @if (form.type === "text") {
      <input
        [formControlName]="form.id"
        [type]="form.type"
        [id]="form.id"
        [autocomplete]="form.autocomplete ? form.id : null"
        [placeholder]="form.placeholder"
      />
    }
    @if (form.type === "submit") {
      <button type="button" (click)="form.click?.(formGroup)">
        {{ form.label }}
      </button>
    }
    @if (form.type === "anchor") {
      <a (click)="form.click()" [href]="form.link" target="_blank">{{ form.label }}</a>
    }
  }
</form>
