@use "styling/globals" as *;

input.ng-touched.ng-invalid {
  border: 1px solid $headerBackground;
}

input.ng-touched.ng-valid {
  border: 1px solid $inputPassedValidation;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cardBackgroundColor;
}


a {
    text-decoration: none;
    font-size: $smallTextSize;
    color: $linkColor;
    background-color: $cardBackgroundColor;
}




