@use 'styling/globals' as *;

html, body {
    height: 100%;
    width: 100%;
}

* {
    background-color: $mainBackgroundColor;
    color: $mainTextColor;
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    font-size: $mainTitleSize;
}