@use "styling/globals" as *;

.table-container > *,
table,
thead,
tbody,
tr,
th {
  background-color: $cardBackgroundColor;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  outline: $cardBorderColor;
  font-size: $cardTableHeader;
  padding: 0.5rem 0.19rem;
  text-decoration: underline;
}

tr {
  outline: $cardBorderColor;
}

tr.grow-row:hover {
  transform: scale(1.1);
}
