<section class="table-container">
  <table>
    <thead>
      <tr>
        @for (th of tableHeaders(); track $index) {
          <th>{{ th.label }}</th>
        }
      </tr>
    </thead>

    <tbody>
      @for (r of rows(); track $index) {
        <tr
          dspl-table-row
          [class.grow-row]="rowIsClickable(r)"
          [style.cursor]="rowIsClickable(r) ? 'pointer' : 'default'"
          [row]="r"
          [defs]="cellDefs()"
          (click)="onRowClick(r)"
        ></tr>
      }
    </tbody>
  </table>
</section>
