@use "styling/globals" as *;

.leaderboard-card > * {
  background-color: $cardBackgroundColor;
}

.leaderboard-card {
  background-color: $cardBackgroundColor;
  margin: $cardMargin;
  border: $cardBorderColor;
}

.table-container {
  margin: $cardMargin;
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin: $cardMargin;
    font-size: $cardHeaderFontSize;
}
